@use "../abstracts";
html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(18%) hue-rotate(305deg) brightness(106%) contrast(104%);
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
    --body-bg-color: #292e39;
    @include abstracts.screen(lg) {
        --header-bg-color: #171c28;
        --header-shadow-color: rgba(0, 0, 0, 0.20);;
    }

    // Dropdown
    --dropdown-bg-color : #424855;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.40)
    --top-menu-border-color : #D2D1D6;

    --menu-column-icon-color: brightness(0) saturate(100%) invert(94%)
    sepia(10%) saturate(425%) hue-rotate(219deg) brightness(106%)
    contrast(97%);


    
    // Sidebar
    --sidebar-bg: #292E39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

 // Cate-item
        --cate-item-bg: #171C28;
        --cate-item-thumb-bg: #292E39;
        --cate-item-title-color: #fff;

 // Filter button
    --filter-btn-color: #FFFFFF;
    --filter-btn-bg: #171C28;

    // Product card
    --product-card-bg: #171C28;
    --product-card-shadow: rgba(0, 0, 0, 0.20);

   

}
